# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in
[Oo]bj

# VS trash
*.user
*.suo
settings.config

publish
packages

# ReSharper related
_ReSharper.*
*.Resharper
*.ReSharper.*